:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3; 
} 

/* Globales*/
html{
    font-size: 62.5%;
    box-sizing: border-box; /*box model*/
    scroll-snap-type: y mandatory; /*proximity o mandatpry*/
}

/*Scroll Snap*/
.servicios,
.navegacion-principal,
.formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px; /* 1rem=16px*/
    font-family:'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 20%);
    /* Para hacer un degradado en el fondo*/
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem; 
    width: 90%;
    text-align: center;
    border: none;
}

.boton:hover {
    cursor: pointer;
}

@media (min-width: 768px) {    
    .boton {
        width: auto;
    }
}

.sombra{
    -webkit-box-shadow: 0px 5px 2px 0px rgba(112,112,112,0.48);
    -moz-box-shadow: 0px 5px 2px 0px rgba(112,112,112,0.48);
    box-shadow: 0px 5px 2px 0px rgba(112,112,112,0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/* Tipografia*/

h1 {
    font-size: 3.8rem; 
}

h2 {
    font-size: 2.8rem; 
}

h3 {
    font-size: 1.8rem; 
}

h1,h2,h3 {
    text-align: center;
}

/* Titulos*/
.titulo span{
    font-size: 2rem;
}

/* Utiliddades */
.w-100 {
    width: 100%;
}

@media (min-width: 768px){
    .w-100{
        width: auto;
    }
}
.flex{
    display: flex;
}

.alinear-derecha {
    justify-content: flex-end;
}

/* Navegacion principal */
.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
   display: flex;
   flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    } 
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco); 
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem; 
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

/* Hero */
.hero{
    background-image: url(../img/hero.jpg) ;
    background-repeat: no-repeat; /*para poner solamente una vez una imagen*/
    background-size: cover;
    height: 410px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7); /**.4 número es para poner transp**/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /** para justificar todo el contenido**/
}

.contenido-hero h2, 
.contenido-hero p{
color: var(--blanco);
}
.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}

/* Servicios */
@media (min-width: 768px){
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* pones tantos porcentages o px como columnas quieras
        en vez de calcular 33,3%, puedes poner 1fr 1fr 1 fr (fracciones)
        y para no escribir tres veces fr puedes poner repeat (3, 1fr) */
        column-gap: 1rem;
        /* separacion entre columnas */
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.servicio h3{
    color: var(--secundario);
    font-weight: normal; /*el ancho de la letra*/
}
.servicio p{
    line-height: 2; /*espacio entre linea de texto*/
    text-align: center;
}
.servicio .iconos {
    height: 15rem; /* altura del icono*/
    width: 15rem; /* ancho del icono*/
    background-color: var(--primario);
    border-radius: 50%; 
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}

/* Contacto */

.formulario {
background-color: var(--gris);
width: min ( 60rem, 100%); /* utilizar el valor más pequeño del ancho*/
margin: 0 auto;
padding: 2rem;
border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

@media (min-width:768px){
    .contenedor-campos {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: auto, auto, 20rem;
        column-gap: 1rem; /* separación entre columnas*/
    }
    .campo:nth-child(3),  /*para seleccionar una clase en concreto 1,2,3,4*/ 
    .campo:nth-child(4) {   
        grid-column: 1/3; /*se debe inspeccionar para saber donde lo queremos*/    
    }   
   
}
.campo{
    margin-bottom: 1rem;
}
.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campo textarea{
    height: 20rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;  
}

/*Footer*/
.footer {
    text-align: center;
}